@import '../../../style/mixins.scss';

.photo {
  @include max-min-height;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  &:hover {
    -webkit-box-shadow: 10px 0px 4px 0px rgba(244, 40, 9, 0.5);
    -moz-box-shadow: 10px 0px 4px 0px rgba(244, 40, 9, 0.5);
    box-shadow: 10px 0px 4px 0px rgba(244, 40, 9, 0.5);
  }
}